<ion-header [translucent]="true">
  <ion-toolbar color="micolor">
    <ion-title >Visualizar Pdf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-colorfondo">
  <div class="container">

<ion-button class="boton" (click)="openFileInput()" >
  Seleccionar PDF local
</ion-button>
<ion-button class="boton" (click)="verPDF()">
 Ver Pdf
</ion-button>
</div>
<input type="file" #fileInput style="display: none" (change)="loadPDF($event)" accept=".pdf">
<div *ngIf="showPdf">
  <ion-toolbar class="pdf-toolbar">
    <ion-buttons slot="start" class="centrar-butones">
      <ion-button (click)="zoomMas()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="zoomMenos()">
        <ion-icon name="remove-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  [original-size]="false"
  [fit-to-page]="true" [show-all]="true"
  [zoom]="zoomLevel"
  [page]="1"
  [style.width.%]="pdfWidth" 
  [style.height.px]="pdfHeight">
  ></pdf-viewer>
</div>
</ion-content>
