ion-toolbar{
    background-color: var(--ion-color-colorfondo);
  }
ion-title{
    color: var(--ion-color-colorfondo-contrast);
    text-align: center;

}
.contenido-colorfondo {
    --ion-background-color: #dbdde1; 
  }
.boton{
    background-color: var(--ion-color-colorboton);
    color: white;
    text-transform: capitalize;
    margin: 10px; 
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.centrar-butones {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-content.pdf-viewer {
    pdf-viewer {
      width: 100% !important;
      height: 400px !important; 
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    ion-content.pdf-viewer {
      pdf-viewer {
        width: 80% !important;
        height: 500px !important;
      }
    }
  }
  @media (min-width: 1024px) {
    ion-content.pdf-viewer {
      pdf-viewer {
        width: 100% !important;
        height: 600px !important; 
      }
    }
  }