ion-toolbar{
    background-color: var(--ion-color-colorfondo);
  }
ion-title{
    color: var(--ion-color-colorfondo-contrast);
    text-align: center;

}
.contenido-colorfondo {
    --ion-background-color: #dbdde1; 
  }